ansible-core==2.12.1    # see https://pypi.org/project/ansible-core/
ansible-lint==5.3.1     # see https://pypi.org/project/ansible-lint/
pypsrp[credssp]==0.6.1  # see https://pypi.org/project/pypsrp/
